- name: Update DNF-based Linux hosts
  hosts: redhat
  gather_facts: true
  become: true
  become_user: root
  become_method: ansible.builtin.sudo
  tasks:
    - name: Update dnf packages
      ansible.builtin.dnf:
        name: "*"
        state: latest
        update_only: true
      register: dnf_output
      when: ansible_facts["pkg_mgr"] == "dnf" and ansible_facts['distribution_major_version'] >= '8'

    - name: Reboot required
      ansible.builtin.command: "/usr/bin/needs-restarting -r"
      register: reboot_required
      ignore_errors: true
      changed_when: false
      failed_when: reboot_required.rc == 2
      when: ansible_facts['distribution_major_version'] >= "7"

    - name: Rebooting
      ansible.builtin.reboot:
        post_reboot_delay: 60
      throttle: 1
      when: reboot_required.rc == 1

    - name: Check the uptime post reboot
      ansible.builtin.shell: uptime
      register: UPTIME_POST_REBOOT
      when: reboot_required.rc == 1

    - debug: msg={{UPTIME_POST_REBOOT.stdout}}
      when: reboot_required.rc == 1

    - name: Wait for port 443 to become open on the host, don't start checking for 60 seconds
      ansible.builtin.wait_for:
        port: 443
        host: 0.0.0.0
        delay: 60
      when: "'web' in inventory_hostname"

    - name: Wait for port 22 to become open on the host, don't start checking for 60 seconds
      ansible.builtin.wait_for:
        port: 22
        host: 0.0.0.0
        delay: 60
      when: "'ssh' in inventory_hostname"