- name: Update DNF-based Linux hosts
  hosts: redhat
  gather_facts: true
  become: true
  become_user: root
  become_method: ansible.builtin.sudo
  tasks:
    - name: Update package list
      ansible.builtin.command:
        cmd: dnf check-update -q
      register: needs_updates
      failed_when: needs_updates.rc == 10000
      changed_when: needs_updates.stdout | length > 0
      notify:
        - Upgrade system

    - name: Flush handlers
      ansible.builtin.meta: flush_handlers

    - name: Check for reboot required
      ansible.builtin.command:
        cmd: /bin/needs-restarting -r
      register: reboot_needed
      changed_when: '"Reboot should not be necessary." not in reboot_needed.stdout'
      failed_when: reboot_needed.rc == 10000
      notify:
        - Needs reboot
        - Warn reboot is needed

    - name: Wait for port 443 to become open on the host, don't start checking for 60 seconds
      ansible.builtin.wait_for:
        port: 443
        host: 0.0.0.0
        delay: 60
      when: "'web' in inventory_hostname"

    - name: Wait for port 22 to become open on the host, don't start checking for 60 seconds
      ansible.builtin.wait_for:
        port: 22
        host: 0.0.0.0
        delay: 60
      when: "'ssh' in inventory_hostname"

  handlers:
    - name: Upgrade system
      ansible.builtin.dnf:
        state: latest
        name: '*'
      register: dnf_output

    - name: Warn reboot is needed
      ansible.builtin.debug:
        msg: "WARNING: REBOOT NEEDED BUT CANNOT REBOOT SELF"
      when: '"XXX" in inventory_hostname'

    - name: Needs reboot
      ansible.builtin.reboot:
        msg: 'WARNING: Host reboot to complete patching'
        connect_timeout: 180
      when: '"XXX" not in inventory_hostname'
