- name: Update DNF-based Linux hosts
  hosts: non_cluster
  gather_facts: true
  become: true
  become_user: root
  become_method: ansible.builtin.sudo
  tasks:
    - name: Update package list
      ansible.builtin.command:
        cmd: dnf check-update -q
      register: needs_updates
      failed_when: needs_updates.rc == 10000
      changed_when: needs_updates.stdout | length > 0
      notify:
        - Upgrade system
      # This fixes python on Alma-8 boxes; we can take it out when they're replaced
      # cf. https://forum.ansible.com/t/ansible-playbook-ansible-core-2-17-1-fails-on-target-with-python-3-9/6700/8
      vars:
        ansible_python_interpreter: /usr/libexec/platform-python

    - name: Flush handlers
      ansible.builtin.meta: flush_handlers

    - name: Check for reboot required
      ansible.builtin.command:
        cmd: /bin/needs-restarting -r
      register: reboot_needed
      changed_when: '"Reboot should not be necessary." not in reboot_needed.stdout'
      failed_when: reboot_needed.rc == 10000
      notify:
        - Needs reboot
        - Warn reboot is needed

    - name: Wait for port 443 to become open on the host, don't start checking for 60 seconds
      ansible.builtin.wait_for:
        port: 443
        delay: 60

  handlers:
    - name: Upgrade system
      ansible.builtin.dnf:
        state: latest
        name: '*'
      register: dnf_output

    - name: Warn reboot is needed
      ansible.builtin.debug:
        msg: "WARNING: REBOOT NEEDED BUT CANNOT REBOOT SELF"
      when: '"sleet" in inventory_hostname'

    - name: Needs reboot
      ansible.builtin.reboot:
        msg: 'WARNING: Host reboot to complete patching'
        connect_timeout: 180
      when: '"sleet" not in inventory_hostname'
